<h1>Horários de <%= @funcionario.nome %></h1>

<div class="container">
  <h1>
    <span class="label label-info">Extras: <%= number_with_precision( @total_extra, precision:2 ) %></span>
    <span class="label label-warning">Compensado: <%= number_with_precision( @total_compensado, precision:2 ) %></span>
    <% if @saldo_hora < 0 %>
      <span class="label label-danger">Saldo: <%= number_with_precision( @saldo_hora, precision:2 ) %></span>
    <% else %>
      <span class="label label-success">Saldo: <%= number_with_precision( @saldo_hora, precision:2 ) %></span>
    <% end %>
  </h1>
</div>

<%= render 'horarios/horario', obj: @horarios %>